body {
    background: black;
    color: whitesmoke;
    font-family: Kanit, sans-serif;
    font-weight:200;
    margin:0px;
    font-size:14px;
}

button{
  cursor: pointer;
}

.container {
    height: 100vh;
    margin: 0px 10px;

    display: grid;
    grid-template:
    [header-start] "header_left flash header_right" 42px [header-end]
    [content-start] "map map panel " 1fr [content-end]
    / 3fr 4fr 3fr;

    column-gap: 1vw;
    row-gap: 0;

}

#header_left{
    grid-area:header_left;
}

#header_left h1{
    margin: 5px 0px;
    font-size:20px;
    line-height:32px;
    border:0px solid pink;
    font-weight:100;
}

#header_right{
    grid-area: header_right;
    justify-self: right;

    line-height:32px;
    font-size:14px;
    align-self:center; /*vertical align*/
}

#flash {
  border-radius: 0.5vw;
  padding:0px 10px;
  font-weight:300;
  border:2px solid #682323;
  background: #EA6060aa;
  align-self: center;
  line-height: 32px;
  text-align: center;
}

#map {
    grid-area: map;
    border-radius: 1vh;
}

#panel{
  grid-area: panel;
  display: flex; /*instead of floats?*/
  flex-direction: column;

}



a{
  color: #FFEC01; /*tmou gold*/
}


#panel h2{
  padding:0px;
  font-size:20px;
  line-height:20px;
  border:0px solid pink;
  display:block;
  font-weight: 200;
  margin-bottom:10px;
  margin-top:0px;
}

#panel .items > ul {
  margin: 0px 0px;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

#panel .items > ul li {
  line-height: 1.5;
  font-size: larger;
  list-style-type: none;
  padding: 5px;
}


#panel #messages {
  min-height: 20vh;
  max-height: 40vh;
  overflow: auto;
}

.message{
  border-radius: 0.5vw;
  padding:0px 10px;
  margin-bottom: 15px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

.ok{
  border: 2px solid #003300;
  background: #33FF33aa;
}

.info{
  border:2px solid #333ABA;
  background:#7F92FFaa;
}

.wrong{
  border:2px solid #682323;
  background: #EA6060aa;
}

#panel .section{
  border-bottom:1px solid #aaaaaa;
  padding-bottom:10px;
  margin-bottom:10px;
  overflow: hidden;
}

#panel .section > form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1em;
}

#panel .section > form > div {
  display: flex;
  flex-direction: column;
}

#panel .section > form select,input {
  height: 2em;
  font-size: bigger;
}

#control {
  display: flex;
  justify-content: space-between;
}

#control>button {
  width: 48%;
  height: 50px;
  border: 2px solid white;
  font-size: 18px;
  margin: 0px 0px 0px 0px;
}

button#discover{
  background-color:#FFEC01;
}

button#skip.disabled {
  cursor: default;
  background-color:#f5f5f5;
}

button#skip.enabled {

  cursor: pointer;
  background-color:#EA6060aa;
}

#navigation{
  position:relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#navigation > div {
  width: 46%;
}
.debug{
  display:block; /*change to display:none in production*/
}

#navigation .debug{
  width:50%;
  position:absolute;
  right:0px;
  top:0px;
}

#panel #badges{
  display: flex;
  flex-direction: row;
  margin-bottom:-10px; /*cancel margin-bottom of last row of badges*/
}

#panel #badges .badge{
  display:block;
  margin:0px 5px 5px 0px;
  background-repeat: no-repeat;
  background-size:contain;
  width: 3vw;
  height: 10vh;
  }

.large_badge{
  display:block;
  margin:0px 15px 0px 0px;
  background-repeat: no-repeat;
  background-size:contain;
  width:160px;
  height:196px;
  float:left;
}

.header_badge {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 30px;
  height: 30px;
}

.header_badge span{
  text-align: center;
  color: black;
  display: inline-block;
}

.badge.lvl1, .large_badge.lvl1, .header_badge.lvl1{
  background-image: url("./img/badge1_yellow.png")
  }
.badge.lvl2, .large_badge.lvl2, .header_badge.lvl2{
  background-image: url("./img/badge2_green.png")
  }
.badge.lvl3, .large_badge.lvl3, .header_badge.lvl3{
  background-image: url("./img/badge3_blue.png")
  }
.badge.lvl4, .large_badge.lvl4, .header_badge.lvl4{
  background-image: url("./img/badge4_red.png")
  }
.badge.lvl5, .large_badge.lvl5, .header_badge.lvl5{
  background-image: url("./img/badge5_purple.png")
  }

.large_badge.shrug{
  background-image: url("./img/shrug.png")
  }

.large_badge.get_puzzle{
  background-image: url("./img/panacek_sifra.png")
  }


.badge span.time{
  width:100%;
  text-align:center;
  color:black;
  font-weight:300;
  display:inline-block;
  font-size:18px;
  margin-top: 12px;
}

.large_badge span.time{
  width:100%;
  text-align:center;
  color:black;
  font-weight:300;
  display:inline-block;
  font-size:32px;
}

.large_badge span.label{
  width:100%;
  text-align:center;
  color:black;
  font-weight:300;
  display:inline-block;
  line-height:90px;
  font-size:90px;
}

.large_badge.shrug span{
  display:none;
}

.overlay{
  grid-area: map;
  z-index:1000;
  background:black;
  opacity:0.5;
  z-index:1000;
}

.overlay__visible{
  display:block; /*SET TO NONE TO HIDE POPUP*/
}

.overlay__hidden{
  display: none;
}

.popup{
  grid-area:map;
  justify-self:center;
  align-self:center;
  width:400px;
  /*height:200px;*/
  border:2px solid black;
  border-radius:10px;
  background:#ffffffe2;
  color:black;
  z-index:2000;
  padding:15px;
  position:relative;
}

.popup h2{
  margin-top:0px;
  margin-bottom:0px;
}

.popup_text{
  width:220px;
  float:left;
  font-size:20px;
}

.popup__visible{
  display: block;
}

.popup__hidden{
  display: none;
}

#skipStartPuzzle {
  margin: 20px 0;
}

#skipStartPuzzle > select {
  width: 100%;
}

button#continue{
  width:220px;
  line-height:30px;
  font-size:18px;
  border: 2px solid #003300;
  background: #33FF33aa;
}


#standings > table {
  width: 100%;
  text-align: center;
}

#standings td {
  padding: 0.3em 0;
}

.banner {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: auto 0;
  font-size: xxx-large;
}

#team {
  display: inline-block;
  width: 20vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
