<div class="section" id="bonuses" data-bonusesEnabled="1">
	<h2 data-translation="section_bonuses"></h2>
	<div id="bonuses-list" class="items">
		<p data-translation="no_bonuses_yet"></p>
	</div>
</div>
