<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TMOU</title>
        <link rel="stylesheet" href="/static/tmou.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
              integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
              crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
</head>

{% if secretPhrase %}
  <body data-secretPhrase="{{ secretPhrase }}">
{% endif %}

<div class="container">

  <div id="header_left">
    <h1>KVALIFIKACE TMOU! 22</h1>
  </div>
  {% if gameFinished %}
    <div id="flash" class="wrong">Hra už skončila. Můžete se procházet po mapě, ale nic už nezískáte.</div>
  {% endif %}
  <div id="header_right">
    <span id="team">Přihlášený tým: <span id="teamName">teamName</span></span>
    {% if not secretPhrase %}
        | <a href="{{main_game_url}}/logout">Logout</a>
    {% endif %}
  </div>


    <div id="map"></div>

    <div id="panel">
      <div class="section" id="puzzles">
        <h2>Zadání šifer</h2>
        <div id="puzzles-list" class="items">
          <p>Zatím jste si žádné zadání nevyzvedli.</p>
        </div>
      </div>
      <div class="section" id="bonuses">
        <h2>Zadání bonusů</h2>
        <div id="bonuses-list" class="items">
          <p>Žádný bonus ještě nebyl zveřejněn.</p>
        </div>
      </div>

      <div class="section" id="navigation">
        <div>
          <h2>Akce</h2>
          <div id="control">
            <button id="discover"{% if gameFinished %} disabled="disabled" {% endif %}>Zkusit štěstí</button>
            <button id="skip" class="disabled" disabled="disabled" >Přeskočit šifru</button>
          </div>
        </div>
        <div>
          <h2>Změnit mapu</h2>
          <ul>
            <li><a href="#" id="mapSelectorMO">Mapy.cz - outdoor</a></li>
            <li><a href="#" id="mapSelectorMB">Mapy.cz - základ</a></li>
            <li><a href="#" id="mapSelectorOSM">OpenStreetMap</a></li>
          </ul>
        </div>
      </div>

      <div class="section">
        <h2>Zprávy</h2>
        <div id="messages">
        </div>
      </div>

      <div class="section">
        <h2>Získané odznáčky</h2>
        <div id="badges">
        </div>
      </div>

  </div>

  <!-- ADD POPUP - CHANGE TO DISPLAY:NONE WHEN HIDDEN-->
  <div class="overlay overlay__hidden" id="overlay"></div>
    <div class="popup popup__hidden" id="popup">
      <div class="large_badge">
        <!-- <span class="time">00:00</span> -->
        <span class="label"></span>
      </div>
      <div class="popup_text">
        <h2>Bohužel...</h2>
        <p>Na toto místo žádná šifra nevede, zkuste to jinde.</p>
        <button id="continue">Pokračovat</button>
      </div>
    </div>
  <!-- END POPUP -->

</div>
<script src="/static/index.js"></script>
</body>
</html>
