<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TMOU</title>
        <link rel="stylesheet" href="/static/tmou.css">
</head>

<div class="container">

  <div id="header_left">
    <h1>iTmou</h1>
  </div>

  <div id="header_right">
    <span id="team">Přihlášený tým: <span id="teamName">{{teamName}}</span></span>
    {% if not secretPhrase %}
        | <a href="{{main_game_url}}/logout">Logout</a>
    {% endif %}
  </div>

  <div class="banner">iTmou ještě nezačala.</div>

</div>
</body>
</html>
