body {
    background: black;
    color: whitesmoke;
    font-family: Kanit, sans-serif;
    font-weight:200;
    margin:0px;
    font-size:14px;
}

.container {
    height: 100vh;
    margin: 0px 10px;
    
    display: grid;
    grid-template:
    [header-start] "header_left header_right" 42px [header-end]
    [content-start] "map panel " 1fr [content-end]
    / 7fr 3fr;
    
    column-gap: 1vw;
    row-gap: 0;
    
}

#header_left{
    grid-area:header_left;
}

#header_left h1{
    margin: 5px 0px;
    font-size:20px;
    line-height:32px;
    border:0px solid pink;
    font-weight:100;
}

#header_right{
    grid-area: header_right;
    justify-self: right;

    line-height:32px;
    font-size:14px;
    align-self:center; /*vertical align*/
}

#map {
    grid-area: map;
}

#panel{
  grid-area: panel;
  display: flex; /*instead of floats?*/
  flex-direction: column;
}

#panel a{
  color: #FFEC01; /*tmou gold*/
}


#panel h2{
  padding:0px;
  font-size:20px;
  line-height:20px;
  border:0px solid pink;
  display:block;
  font-weight: 200;
  margin-bottom:10px;
  margin-top:0px;
}

#panel ul{
  margin: 0px 0px;
  padding-left:25px;
}

#panel .section{
  border-bottom:1px solid #aaaaaa;
  padding-bottom:10px;
  margin-bottom:10px;
  overflow: hidden;
}


#panel #badges{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom:-10px; /*cancel margin-bottom of last row of badges*/
  
}

#panel #badges .badge{
  display:block;
  margin:0px 15px 15px 0px;
  background-repeat: no-repeat;
  background-size:contain;
  width:80px;
  height:98px;

  }
  
#panel #badges .badge.lvl1{ background-image: url("./img/badge1_yellow.png")}
#panel #badges .badge.lvl2{ background-image: url("./img/badge2_green.png") }
#panel #badges .badge.lvl3{ background-image: url("./img/badge3_blue.png") }
#panel #badges .badge.lvl4{ background-image: url("./img/badge4_red.png") }
#panel #badges .badge.lvl5{ background-image: url("./img/badge5_purple.png") }

.badge span.time{
  width:100%;
  text-align:center;
  color:black;
  font-weight:300;
  display:inline-block;
  font-size:16px;
}

.badge span.label{
  width:100%;
  text-align:center;
  color:black;
  /*font-size: 42px;*/
  font-weight:300;
  display:inline-block;
  line-height:45px;
  font-size:45px;
}

button#discover{
  width:50%;
  height:50px;
  border:2px solid white;
  font-size:18px;
  margin:0px 0px 0px 0px;
  background-color:#FFEC01;
}

#navigation{
  position:relative;
}

.debug{
  display:block; /*change to display:none in production*/
}

#navigation .debug{
  width:50%;
  position:absolute;
  right:0px;
  top:0px;
}